$body-bg: #152347;
$body-color: #fff;
$card-bg: #1d2c4e;
$list-group-bg: #1d2c4e;
$font-family-base: "Space Mono", monospace;
$progress-bar-bg: #a11ec6;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
